.App {
  text-align: center;
  margin: 0em 4em;
}

@media (max-width: 810px) {
  .App {
    margin: 0em 1em;
  }
}

@media (min-width: 1600px) {
  .App {
    margin: 0em 20%;
  }
}

@media (min-width: 2200px) {
  .App {
    margin: 0em 30%;
  }
}
